In [8]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

In [9]:
df=pd.read_csv("train.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227520 entries, 0 to 227519
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   tarih              227520 non-null  object
 1   ürün               227520 non-null  object
 2   ürün besin değeri  227520 non-null  int64
 3   ürün kategorisi    227520 non-null  object
 4   ürün fiyatı        227520 non-null  float64
 5   ürün üretim yeri   227520 non-null  object
 6   market             227520 non-null  object
 7   şehir              227520 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 13.9+ MB

In [18]:
df.tarih=df.tarih.apply(pd.to_datetime)
df.head()
df['ts'] = df[['tarih']].apply(lambda x: x[0].timestamp(), axis=1)

In [19]:
df.head()

,tarih,ürün,ürün besin değeri,ürün kategorisi,ürün fiyatı,ürün üretim yeri,market,şehir,ts
0,2016-01-01,kıyma,120,et,33.41,Yurt içi,M,A,1.451606e+09
1,2016-01-01,tavuk,103,et,11.22,Yurt içi,M,A,1.451606e+09
2,2016-01-01,hindi,160,et,11.12,Yurt içi,M,A,1.451606e+09
3,2016-01-01,Bakla-kuru,354,sebze ve bakliyat,7.02,Yurt içi,M,A,1.451606e+09
4,2016-01-01,Bakla-taze,72,sebze ve bakliyat,13.14,Yurt içi,M,A,1.451606e+09

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227520 entries, 0 to 227519
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   tarih              227520 non-null  datetime64[ns]
 1   ürün               227520 non-null  object
 2   ürün besin değeri  227520 non-null  int64
 3   ürün kategorisi    227520 non-null  object
 4   ürün fiyatı        227520 non-null  float64
 5   ürün üretim yeri   227520 non-null  object
 6   market             227520 non-null  object
 7   şehir              227520 non-null  object
 8   ts                 227520 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 15.6+ MB

In [21]:
df.describe()

       ürün besin değeri    ürün fiyatı            ts
count      227520.000000  227520.000000  2.275200e+05
mean          143.113924      16.348622  1.529162e+09
std           133.218871      13.260935  4.553789e+07
min             8.000000       0.730000  1.451606e+09
25%            41.000000       7.330000  1.490335e+09
50%            83.000000      12.600000  1.529107e+09
75%           250.000000      20.900000  1.567944e+09
max           402.000000     141.330000  1.606781e+09

In [22]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
le=LabelEncoder()
df["ürün"]=le.fit_transform(df["ürün"])
df["ürün üretim yeri"]=le.fit_transform(df["ürün üretim yeri"])
df["market"]=le.fit_transform(df["market"])
df["şehir"]=le.fit_transform(df["şehir"])

In [23]:
df.head(20)

,tarih,ürün,ürün besin değeri,ürün kategorisi,ürün fiyatı,ürün üretim yeri,market,şehir,ts
0,2016-01-01,65,120,et,33.41,1,2,0,1.451606e+09
1,2016-01-01,70,103,et,11.22,1,2,0,1.451606e+09
2,2016-01-01,61,160,et,11.12,1,2,0,1.451606e+09
3,2016-01-01,1,354,sebze ve bakliyat,7.02,1,2,0,1.451606e+09
4,2016-01-01,2,72,sebze ve bakliyat,13.14,1,2,0,1.451606e+09
5,2016-01-01,3,42,sebze ve bakliyat,5.05,1,2,0,1.451606e+09
6,2016-01-01,4,346,sebze ve bakliyat,5.97,1,2,0,1.451606e+09
7,2016-01-01,5,47,sebze ve bakliyat,12.19,1,2,0,1.451606e+09
8,2016-01-01,6,25,sebze ve bakliyat,12.15,1,2,0,1.451606e+09
9,2016-01-01,7,47,sebze ve bakliyat,23.53,1,2,0,1.451606e+09
10,2016-01-01,10,25,sebze ve bakliyat,4.00,1,2,0,1.451606e+09
11,2016-01-01,12,63,sebze ve bakliyat,11.20,1,2,0,1.451606e+09
12,2016-01-01,15,333,sebze ve bakliyat,9.17,1,2,0,1.451606e+09
13,2016-01-01,16,35,sebze ve bakliyat,9.12,1,2,0,1.451606e+09
14,2016-01-01,17,42,sebze ve bakliyat,7.91,1,2,0,1.451606e+09
15,2016-01-01,50,8,sebze ve bakliyat,4.03,1,2,0,1.451606e+09
16,2016-01-01,18,25,sebze ve bakliyat,12.21,1,2,0,1.451606e+09
17,2016-01-01,19,19,sebze ve bakliyat,8.03,1,2,0,1.451606e+09
18,2016-01-01,21,25,sebze ve bakliyat,8.03,1,2,0,1.451606e+09
19,2016-01-01,26,38,sebze ve bakliyat,6.11,1,2,0,1.451606e+09

In [24]:
df.describe()

,ürün,ürün besin değeri,ürün fiyatı,ürün üretim yeri,market,şehir,ts
count,227520.000000,227520.000000,227520.000000,227520.000000,227520.000000,227520.000000,2.275200e+05
mean,39.000000,143.113924,16.348622,0.500000,1.000000,3.500000,1.529162e+09
std,22.803559,133.218871,13.260935,0.500001,0.816498,2.291293,4.553789e+07
min,0.000000,8.000000,0.730000,0.000000,0.000000,0.000000,1.451606e+09
25%,19.000000,41.000000,7.330000,0.000000,0.000000,1.750000,1.490335e+09
50%,39.000000,83.000000,12.600000,0.500000,1.000000,3.500000,1.529107e+09
75%,59.000000,250.000000,20.900000,1.000000,2.000000,5.250000,1.567944e+09
max,78.000000,402.000000,141.330000,1.000000,2.000000,7.000000,1.606781e+09

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227520 entries, 0 to 227519
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   tarih              227520 non-null  datetime64[ns]
 1   ürün               227520 non-null  int32
 2   ürün besin değeri  227520 non-null  int64
 3   ürün kategorisi    227520 non-null  object
 4   ürün fiyatı        227520 non-null  float64
 5   ürün üretim yeri   227520 non-null  int32
 6   market             227520 non-null  int32
 7   şehir              227520 non-null  int32
 8   ts                 227520 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(4), int64(1), object(1)
memory usage: 12.2+ MB

In [ ]:
sns.lineplot(x=df.loc[:,"ay"],y=df["ürün fiyatı"])

In [ ]:
df_cor=df.corr()
df_cov=df.cov()
df_cor["ürün fiyatı"]

In [ ]:
df_cov["ürün fiyatı"]

In [ ]:
sns.distplot(df["ürün fiyatı"])

In [ ]:
len(df)*0.02

In [ ]:

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn import preprocessing

In [26]:
min_max_scaler = preprocessing.MinMaxScaler()

NameError: name 'preprocessing' is not defined

In [ ]:
x=df.loc[:,["ts","ürün","market","şehir","ürün üretim yeri"]]
y=df["ürün fiyatı"]
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,random_state=42)

x_train= min_max_scaler.fit_transform(x_train)
x_test = min_max_scaler.fit_transform(x_test)

In [ ]:
from keras.models import Sequential
from keras.layers import Dense,Dropout,BatchNormalization,Activation,Flatten

In [ ]:
model = Sequential()
model.add(Dense(300,activation="relu"))
model.add(Dense(200,activation="relu"))
model.add(Dense(100,activation="relu"))
model.add(Dense(50,activation="relu"))
model.add(Dense(1))
model.compile(optimizer='adam',loss="mse", metrics=['accuracy'])

In [ ]:
history =model.fit(x_train, 
                y_train,
                validation_data=(x_test, y_test),
                epochs=100)

In [ ]:
sonuc=model.predict(x_test)

In [ ]:
sonuc_df=pd.DataFrame(sonuc)

In [ ]:
writer = pd.ExcelWriter('pandas_10.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
sonuc_df.to_excel(writer, sheet_name='Sheet1')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [ ]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()

In [ ]:
hıst=lin_reg.fit(x_train,y_train)
sonuc2=hıst.predict(x_test)

In [ ]:
asd=sonuc2-y_test
asd

In [ ]:
asd.describe()

In [ ]:
plt.scatter(sonuc,y_test,color='red')
plt.show()

In [ ]:
from matplotlib import pyplot as plt
# Plot training & validation accuracy values
plt.figure(figsize=(14,3))
plt.subplot(1, 2, 1)
plt.plot(history.history['accuracy'])
plt.plot(history.history['val_accuracy'])
plt.title('Model accuracy')
plt.ylabel('Accuracy')
plt.xlabel('Epoch')
plt.legend(['Train', 'Test'], loc='upper left')
# Plot training & validation loss values
plt.subplot(1, 2, 2)
plt.plot(history.history['loss'])
plt.plot(history.history['val_loss'])
plt.title('Model loss')
plt.ylabel('Loss')
plt.xlabel('Epoch')
plt.legend(['Train', 'Test'], loc='upper left')
plt.show()

In [ ]:
df_test=pd.read_csv("testFeatures.csv")
df_test.tarih=df_test.tarih.apply(pd.to_datetime)
df_test["yıl"]=df_test.tarih.dt.year
df_test["ay"]=df_test.tarih.dt.month
df_test["ürün"]=le.fit_transform(df_test["ürün"])
df_test["ürün kategorisi"]=le.fit_transform(df_test["ürün kategorisi"])
df_test["ürün üretim yeri"]=le.fit_transform(df_test["ürün üretim yeri"])
df_test["market"]=le.fit_transform(df_test["market"])
df_test["şehir"]=le.fit_transform(df_test["şehir"])
x_test=df_test.loc[:,["yıl","ay","ürün","ürün besin değeri","ürün kategorisi"]]

In [ ]:
df_test=df_test.drop(['id'], axis=1)
sonuc=model.predict(x_test)

In [ ]:
sonuc2=pd.DataFrame(sonuc)

In [ ]:
writer = pd.ExcelWriter('pandas_9.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
sonuc2.to_excel(writer, sheet_name='Sheet1')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [ ]:
writer.close()